{% extends 'base.html.twig' %}

{% block title %}Objet index{% endblock %}

{% block body %}
    <div class="col-3">
        <h1>Liste des objets</h1>
    </div>
    <div class="row m-auto">
        {% for objet in objets %}
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ objet.nom }}</h5>
                    <p class="card-text">Catégorie: {{ objet.categorie}}</p>
                    <a href="{{ path('objet_show', {'id': objet.id}) }}" class="btn btn-primary">Détails</a>
                </div>
            </div>
        </div>
        {% else %}
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Aucun objet</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-3">
        <div class="clearfix"></div>
        <div class="row m-auto">
            <span>
                <a class="btn btn-outline-primary" href="{{ path('objet_new') }}" role="button">Créer un nouvel objet</a>
            </span>
        </div>
    </div>
{% endblock %}