{% extends 'base.html.twig' %}

{% block title %}Catégorie - Création{% endblock %}

{% block body %}
    <div class="col-3">
        <h1>Création d'une catégorie</h1>
        {{ include('categorie/_form.html.twig') }}
    </div>
{% endblock %}
