{% extends 'base.html.twig' %}

{% block title %}Catégorie - Création{% endblock %}

{% block body %}
    <h1>Création d'une catégorie</h1>

    {{ include('categorie/_form.html.twig') }}
{% endblock %}
